.primary-nav{

    &--pull-right{
        float: right;
    }

    ul{
        margin: 10px 0 0 0;
        padding: 0;

        @mixin clearfix;
    }

    li{
        list-style: none;
        float: left;
        padding-right: 20px;
    }

    a{
        color: #fff;
        text-decoration: none;
        font-weight: 300;
    }

}
